body{
  background-color: black;
  color: white;
}
.textareas {
  color: #584f56;
  background-color: #cacdd4;
  text-align: center;
  height: 3em;
  margin-bottom: 2px;
}

#areaContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

#radioContainer{
  color: white;
  display: flex;
  justify-content: center;
}

#confirm{
  background-color: white;
  border-radius: 10%;
  margin-left: 20px;
}
 #library{
   position: absolute;
   bottom: 0px;
   width: 100%;
 }
