body {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template: 15vh 85vh / 1fr 4fr;
    justify-items: stretch;
    font-family: 'Poppins', sans-serif;
}


/* sidebar */

.sidebar-wrapper {
    background-color: #12110e;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40vh;
    font-size: 1.5rem;
    padding-top: 2vh;
}

#logo {
    font-size: 1.3em;
}

#logo img {
    width: 2.15rem;
}

.sidebar-content {
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.sidebar-content img {
    width: 1.3rem;
    margin-right: 5%;
}


/* topbar */

.topbar-wrapper {
    background-color: rgb(32, 32, 32);
    display: grid;
    grid-template: 1fr 2fr / 3fr 1fr;
    padding-top: 1vh;
    align-items: center;
    padding-right: .5vw;
}

.topbar-item input[type=search] {
    width: 50vw;
    height: 3vh;
    border-radius: 25px;
    background-color: #dfd8e1;
    border: none;
}

#searchfield {
    margin-left: 3vw;
}

#searchfield img {
    position: relative;
    top: 8px;
    height: 21px;
    margin-right: 2vw;
}

.topbar-item img {
    width: 2vw;
}

#tbp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 6vw;
}

#pp {
    background-color: orange;
    border-radius: 100px;
}

.greeting {
    display: grid;
    align-items: center;
    grid-template: 2vh 3vh / 5vw 25vw;
    margin-left: 3vw;
}

#ppb {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    width: 3.2vw;
    background-color: orange;
    border-radius: 100px;
    align-self: center;
}

#socialat {
    font-size: 1.4rem;
}

.upbuttons {
    justify-self: center;
}

.topbar-item button {
    margin-right: .5vw;
    margin-left: .5vw;
    background-color: #00a4ef;
    color: white;
    font-weight: 900;
    border-radius: 25px;
    border: none;
    width: 5vw;
    height: 3vh;
}


/* content */

.content-wrapper {
    background-color: #1a1919;
    display: grid;
    grid-template: 1fr 2fr / 3fr 1fr;
    padding-top: 2vh;
    padding-left: 1vw;
    gap: 15px;
}

.projects-wrapper {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template: 3vh 1fr 1fr 1fr / 1fr 1fr;
    gap: 30px;
    padding-bottom: 2vh;
    padding-right: 3vw;
}

#pheader {
    grid-column: 1/3;
    grid-row: 1/1;
}

.project-items {
    background-color: #737373;
    padding-left: 1vw;
    padding-top: 2vh;
    border-radius: 5px;
    box-shadow: 5px 7px #00a4ef;
    display: grid;
    grid-template: 3vh 1fr / 1fr;
    overflow: auto;
}

.project-items p {
    font-size: 0.85rem;
    padding-right: 2vw;
}

.project-icons {
    justify-self: end;
    margin-right: 2vw;
}

.project-items img {
    width: 1vw;
    margin-left: 1vw;
}

.announcement-wrapper {
    display: grid;
    grid-template: 2vh 1fr 2vh 1fr 2vh / 1fr;
    background-color: #737373;
    margin-right: 2vw;
    padding-left: 2vw;
    margin-top: 3vh;
    border-radius: 5px;
    padding-right: 2vw;
    overflow: hidden;
}

.announcement-wrapper h1 {
    font-size: 1rem;
}

.announcement-wrapper :nth-child(2) {
    border-bottom: white solid 1px;
    padding-bottom: 1vh;
}

.announcement-wrapper :nth-child(4) {
    border-bottom: white solid 1px;
}

#trending {
    margin-top: 3vh;
}

.trending-wrapper {
    background-color: #737373;
    border-radius: 15px;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    margin-right: 2vw;
    margin-top: 3vh;
}

.trending-wrapper img {
    width: 2vw;
    background-color: green;
    border-radius: 150px;
    align-self: center;
    margin-right: 1vw;
    margin-left: 1.5vw;
}

.trendinguser-wrapper {
    display: flex;
    height: 8vh;
}

.trendinguser-wrapper p {
    font-size: 1rem;
}

#gitico {
    background-color: #f1502f;
}