body{
  background-color: black;
  color: white;
  margin: 0%;
}

@@font-face {
  font-family: "Plaguard";
  src: url("Fonts/Plaguard-ZVnjx.otf");
  font-weight: normal;
  font-style: normal;
}

.branding{
  display: flex;
  align-items: center;

  flex-direction: column;
  background-image: url("Pictures/bgp.jpg");
  -webkit-background-size: 100%;
  background-repeat: no-repeat;
  max-width: 33%;
  height: 100vh;
}

.branding img{
  max-width: 50%;

}

.branding h1{
  font-size: 3em;
  color: red;
  font-family: "Plaguard";
  font-style: normal;
}
